@use 'sass:map';
@use '../../../../style/00_settings/color' as colors;
@use '../../../../style/00_settings/util' as utils;
@use '../../../../style/01_tools/mixin' as mixins;
@use '../../../style/03_elements/typography' as typography;

.subscription {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: map.get(colors.$base-color, black);
  background-color: map.get(colors.$base-color, secondary);
  padding: utils.rem(164) utils.bu(2);
  position: relative;

  @include mixins.breakpoint(md) {
    padding-top: utils.rem(248px);
    padding-bottom: utils.rem(248px);
  }

  > h1 {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: utils.bu(3);
  }

  > p {
    text-align: center;
    text-transform: uppercase;
  }

  &__blurb {
    margin-top: utils.bu(8);
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: utils.bu(8) 0 0;
    padding: utils.bu(2.5) utils.bu(1.5);
    width: 100%;
    height: 67px;
    border-bottom: 1px solid map.get(colors.$base-color, black);

    @include mixins.breakpoint(md) {
      width: 576px;
    }

    @include mixins.breakpoint(lg) {
      width: 542px;
    }

    &--error {
      border-color: #b1160a;
    }

    &:focus-within {
      border-bottom-width: 2px;

      > div > label {
        text-transform: uppercase;
        display: block;
        margin-bottom: utils.bu(1);
        color: #505050;
      }
    }

    > div {
      width: 100%;
      display: flex;
      flex-direction: column;

      > label {
        display: none;
      }

      > input {
        color: map.get(colors.$base-color, black);
        width: 100%;
        height: 100%;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: 400;

        &::placeholder {
          text-transform: uppercase;
          color: #505050;
        }
      }
    }

    &-label {
      display: block !important;
      text-transform: uppercase;
      margin-bottom: utils.bu(1);
      color: #505050;
    }

    &-error {
      color: #b1160a;
      margin-top: utils.bu(2);
      width: 100%;
      text-transform: uppercase;

      @include mixins.breakpoint(md) {
        width: 576px;
      }

      @include mixins.breakpoint(lg) {
        width: 542px;
      }
    }
  }

  &__subscribed {
    margin-top: utils.bu(8);
    display: flex;
    align-items: center;
    justify-content: center;

    > span {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 358px;
      background-color: map.get(colors.$base-color, primary);
      color: map.get(colors.$base-color, black);
      text-transform: uppercase;
    }
  }

  &__icon {
    padding: utils.bu(1.5) utils.rem(10);
    border: 1px solid map.get(colors.$base-color, black);

    svg {
      width: 20px;
      height: 20px;
    }

    &:hover {
      cursor: pointer;
      background-color: map.get(colors.$base-color, primary);
    }
  }
}
