@use 'sass:map';
@use '../../../../style/00_settings/color' as colors;
@use '../../../../style/00_settings/util' as utils;
@use '../../../../style/01_tools/mixin' as mixins;

.gallery-hero {
  padding: utils.bu(18.25) utils.bu(2) utils.bu(7.5);

  @include mixins.breakpoint(lg) {
    padding: utils.bu(21.5) utils.bu(7.5) utils.bu(15);
    padding-bottom: 0;
  }

  > div {
    padding-bottom: 0;
    background-color: map.get(colors.$base-color, black);

    > p {
      margin-top: utils.bu(2);
      margin-bottom: utils.bu(2);
      text-transform: uppercase;
    }

    > h1 {
      text-transform: uppercase;
      display: flex;
      font-weight: 500;
      max-width: 210px;
      color: map.get(colors.$base-color, grey);

      @include mixins.breakpoint(lg) {
        max-width: 100%;
      }

      > span {
        margin-left: utils.bu(3);
        border: 1px solid map.get(colors.$base-color, grey);
        height: 35px;
        min-height: 35px;
        width: 38px;
        min-width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mixins.breakpoint(lg) {
          height: 48px;
          min-height: 48px;
          width: 48px;
          min-width: 48px;
        }
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    color: map-get(colors.$base-color, white);
    border: 1px solid map-get(colors.$base-color, grey);

    &:hover {
      background-color: map-get(colors.$base-color, secondary);
      border-color: map-get(colors.$base-color, secondary);
      color: map-get(colors.$base-color, black);
    }

    &--active {
      background-color: map-get(colors.$base-color, primary);
      border-color: map-get(colors.$base-color, primary);
      color: map-get(colors.$base-color, black);
    }

    @include mixins.breakpoint(lg) {
      width: 42px;
      min-width: 42px;
      height: 42px;
      min-height: 42px;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: utils.bu(4);

    @include mixins.breakpoint(sm) {
      flex-direction: row;
    }

    > div {
      display: flex;
      gap: utils.bu(2);
    }
  }

  > hr {
    margin-top: utils.bu(7.5);
    border-color: map.get(colors.$base-color, grey);
    border-bottom: none;

    @include mixins.breakpoint(lg) {
      margin-top: utils.bu(15);
    }
  }
}
