@use 'sass:map';
@use '../../../../style/00_settings/color' as colors;
@use '../../../../style/00_settings/util' as utils;
@use '../../../../style/01_tools/mixin' as mixins;

.gallery-hero {
  padding: utils.bu(18.25) utils.bu(2) utils.bu(7.5);
  background-color: map.get(colors.$base-color, secondary);

  @include mixins.breakpoint(lg) {
    padding: utils.bu(21.5) utils.bu(7.5) utils.bu(15);
  }

  > p {
    margin-top: utils.bu(2);
    margin-bottom: utils.bu(2);
    text-transform: uppercase;
  }

  > h1 {
    text-transform: uppercase;
    display: flex;
    font-weight: 500;
    max-width: 210px;

    @include mixins.breakpoint(lg) {
      max-width: 100%;
    }

    > span {
      margin-left: utils.bu(3);
      border: 1px solid map.get(colors.$base-color, black);
      height: 35px;
      min-height: 35px;
      width: 38px;
      min-width: 38px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mixins.breakpoint(lg) {
        height: 48px;
        min-height: 48px;
        width: 61px;
        min-width: 61px;
      }
    }
  }

  > .tabs {
    margin-top: utils.bu(7.5);
  }
}
