@use 'sass:map';
@use '../../../style/00_settings/color' as colors;
@use '../../../style/00_settings/util' as utils;
@use '../../../style/01_tools/mixin' as mixins;

$border: 1px solid rgba(map.get(colors.$base-color, white), 0.4);

.events {
  background-color: map.get(colors.$base-color, black);
  padding: utils.bu(7.5) utils.bu(2);
  color: map.get(colors.$base-color, white);

  @include mixins.breakpoint(lg) {
    padding: utils.bu(15) utils.bu(7.5);
  }

  > header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: utils.bu(5);
    padding-top: utils.bu(3);
    border-top: $border;

    @include mixins.breakpoint(lg) {
      gap: 0;
      flex-direction: row;
    }

    > h1 {
      text-transform: uppercase;
    }

    > p {
      text-transform: uppercase;
      max-width: 788px;
    }
  }

  > main {
    display: flex;
    flex-direction: column;
    gap: utils.bu(10);
  }
}

.event-list {
  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: utils.bu(5);

    @include mixins.breakpoint(lg) {
      margin-bottom: utils.bu(7.5);
    }

    .button {
      display: none;

      @include mixins.breakpoint(lg) {
        display: flex;
        height: 48px;
        width: 121px;
      }
    }

    > h1 {
      text-transform: uppercase;
    }
  }

  > section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    gap: utils.bu(3);

    @include mixins.breakpoint(lg) {
      gap: utils.bu(3) utils.bu(7.5);
    }

    > div {
      padding: utils.bu(3) 0;

      @include mixins.breakpoint(lg) {
        padding: utils.rem(30) 0;
      }

      &:not(.event) {
        display: none;

        @include mixins.breakpoint(lg) {
          display: block;
          width: 45%;
        }
      }

      &.event {
        width: 100%;

        @include mixins.breakpoint(lg) {
          width: 45%;
        }
      }
    }

    hr {
      height: 100%;
      border-color: rgba(map.get(colors.$base-color, white), 0.4);
      transform: rotate(180deg);
    }
  }

  &__event {
    width: 45%;
    padding: utils.bu(3) 0;
    border-bottom: $border;
    position: relative;

    > h2 {
      text-transform: uppercase;
      color: map.get(colors.$base-color, primary);
    }

    > h3 {
      text-transform: uppercase;
    }

    > small {
      color: map.get(colors.$base-color, silver);
      text-transform: uppercase;
      margin-top: utils.bu(1);
    }

    > footer {
      margin-top: utils.bu(10);
      display: flex;
      align-items: center;
      justify-content: space-between;

      > div {
        display: flex;
        flex-direction: column;

        > small {
          text-transform: uppercase;

          &:first-child {
            color: map.get(colors.$base-color, silver);
          }
        }
      }
    }
  }
}
