@use '../00_settings/util' as utils;
@use '../01_tools/mixin' as mixins;

.typescale-14 {
  font-size: utils.rem(76);
  font-weight: 400;
  line-height: 120%;

  @include mixins.breakpoint(md) {
    font-size: utils.rem(236);
    line-height: 100%;
  }
}

.typescale-13 {
  font-size: utils.rem(61);
  font-weight: 400;
  line-height: 120%;

  @include mixins.breakpoint(md) {
    font-size: utils.rem(181);
    line-height: 110%;
  }
}

.typescale-12 {
  font-size: utils.rem(49);
  font-weight: 400;
  line-height: 120%;

  @include mixins.breakpoint(md) {
    font-size: utils.rem(138);
    line-height: 110%;
  }
}

.typescale-11 {
  font-size: utils.rem(39);
  font-weight: 400;
  line-height: 120%;

  @include mixins.breakpoint(md) {
    font-size: utils.rem(105);
    line-height: 110%;
  }
}

.typescale-10 {
  font-size: utils.rem(31);
  font-weight: 400;
  line-height: 120%;

  @include mixins.breakpoint(md) {
    font-size: utils.rem(80);
  }
}

.typescale-9 {
  font-size: utils.rem(27);
  font-weight: 400;
  line-height: 120%;

  @include mixins.breakpoint(md) {
    font-size: utils.rem(61);
  }
}

.typescale-8 {
  font-size: utils.rem(25);
  font-weight: 400;
  line-height: 120%;

  @include mixins.breakpoint(md) {
    font-size: utils.rem(47);
  }
}

.typescale-7 {
  font-size: utils.rem(20);
  font-weight: 400;
  line-height: 120%;

  @include mixins.breakpoint(md) {
    font-size: utils.rem(36);
  }
}

.typescale-6 {
  font-size: utils.rem(18);
  font-weight: 400;
  line-height: 120%;

  @include mixins.breakpoint(md) {
    font-size: utils.rem(27);
  }
}

.typescale-5 {
  font-size: utils.rem(16);
  font-weight: 400;
  line-height: 120%;

  @include mixins.breakpoint(md) {
    font-size: utils.rem(21);
  }
}

.typescale-4 {
  font-size: utils.rem(14);
  font-weight: 400;
  line-height: 150%;

  @include mixins.breakpoint(lg) {
    font-size: utils.rem(18);
    line-height: 120%;
  }
}

.typescale-3 {
  font-size: utils.rem(12);
  font-weight: 400;
  line-height: 150%;

  @include mixins.breakpoint(lg) {
    font-size: utils.rem(16);
  }
}

.typescale-2 {
  font-size: utils.rem(10);
  font-weight: 400;
  line-height: 150%;

  @include mixins.breakpoint(lg) {
    font-size: utils.rem(14);
  }
}

.typescale-1 {
  font-size: utils.rem(8);
  font-weight: 400;
  line-height: 150%;

  @include mixins.breakpoint(lg) {
    font-size: utils.rem(12);
  }
}
