@use '../00_settings/util' as *;

.typescale-14 {
  font-size: rem(236);
  font-weight: 400;
  line-height: rem(283);
}

.typescale-13 {
  font-size: rem(181);
  font-weight: 400;
  line-height: rem(217);
}

.typescale-12 {
  font-size: rem(138);
  font-weight: 400;
  line-height: rem(165);
}

.typescale-11 {
  font-size: rem(105);
  font-weight: 400;
  line-height: rem(126);
}

.typescale-10 {
  font-size: rem(80);
  font-weight: 400;
  line-height: rem(96);
}

.typescale-9 {
  font-size: rem(61);
  font-weight: 400;
  line-height: rem(73);
}

.typescale-8 {
  font-size: rem(47);
  font-weight: 400;
  line-height: rem(56);
}

.typescale-7 {
  font-size: rem(36);
  font-weight: 400;
  line-height: rem(43);
}

.typescale-6 {
  font-size: rem(27);
  font-weight: 400;
  line-height: rem(32);
}

.typescale-5 {
  font-size: rem(21);
  font-weight: 400;
  line-height: rem(25);
}

.typescale-4 {
  font-size: rem(18);
  font-weight: 400;
  line-height: rem(21);
}

.typescale-3 {
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(19);
}

.typescale-2 {
  font-size: rem(12);
  font-weight: 400;
  line-height: rem(14);
}

.typescale-1 {
  font-size: rem(9);
  font-weight: 400;
  line-height: rem(11);
}
