@use 'sass:map';
@use '../../../style/00_settings/color' as colors;
@use '../../../style/00_settings/util' as utils;
@use '../../../style/01_tools/mixin' as mixins;

.drag-item {
  @include mixins.breakpoint(lg) {
    position: fixed;
    width: fit-content;
    height: 26px;
    border-radius: 16px;
    background-color: map.get(colors.$base-color, secondary);
    border: 1px solid rgba(map.get(colors.$base-color, grey), 0.2);
    z-index: 10000;
    margin: utils.bu(2);
    padding: utils.bu(1) utils.rem(18);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

    > span {
      text-transform: uppercase;
    }

    &--hover {
      visibility: visible;
    }
  }
}
