@use 'sass:map';
@use '../../../../style/00_settings/color' as colors;
@use '../../../../style/00_settings/util' as utils;
@use '../../../../style/01_tools/mixin' as mixins;

.tickets {
  padding: utils.bu(16) utils.bu(2) utils.bu(7.5);
  background-color: map.get(colors.$base-color, black);

  @include mixins.breakpoint(lg) {
    padding: utils.bu(23) utils.bu(7.5) utils.bu(15);
  }

  > main {
    margin-top: utils.bu(4);
  }

  .tabs {
    margin-bottom: utils.bu(3);
    margin-top: utils.bu(10);

    @include mixins.breakpoint(lg) {
      margin-top: utils.rem(120);
      margin-bottom: utils.rem(32);
    }
  }
}
