@use 'sass:map';
@use '../../style/00_settings/color' as colors;
@use '../../style/00_settings/util' as utils;
@use '../../style/01_tools/mixin' as mixins;

.tabs {
  display: flex;
  align-items: center;
  gap: utils.bu(0.5);

  > li {
    cursor: pointer;
    text-transform: uppercase;

    > a {
      padding: utils.bu(1) utils.bu(2);
      border: 1px solid map.get(colors.$base-color, black);

      &:hover {
        background-color: map.get(colors.$base-color, primary);
      }
    }
  }
}
