@use 'sass:map';
@use '../../style/00_settings/color' as colors;
@use '../../style/00_settings/util' as utils;

.ticker {
  width: 100%;
  background-color: map.get(colors.$base-color, grey);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
