@use 'sass:map';
@use '../../../style/00_settings/util' as utils;
@use '../../../style/00_settings/color' as colors;
@use '../../../style/01_tools/mixin' as mixins;

.track {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: utils.bu(2);
  border-bottom: 1px solid rgba(#fff, 0.2);

  $block: &;

  &__player {
    display: flex;
    align-items: center;

    > p {
      color: #aaa;
    }

    > span {
      width: 42px;
      height: 42px;
      border: 1px solid rgba(#fff, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
        background-color: map.get(colors.$base-color, primary);
      }

      > svg {
        color: #e0e1e3;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;

    > p {
      margin-top: utils.bu(0.5);
      color: #aaa;
    }
  }

  > div {
    display: flex;
    align-items: center;
    gap: utils.bu(2);
    text-transform: uppercase;

    > svg {
      height: 42px;
      width: 42px;
    }
  }

  &--playing {
    background-color: map.get(colors.$base-color, secondary);
    color: map.get(colors.$base-color, black);

    #{$block}__details {
      > p {
        color: map.get(colors.$base-color, black);
      }
    }

    #{$block}__player {
      color: map.get(colors.$base-color, black);

      > p {
        color: map.get(colors.$base-color, black);
      }

      > span {
        border-color: map.get(colors.$base-color, black);

        > svg {
          color: map.get(colors.$base-color, black);
        }
      }
    }
  }
}
