@use 'sass:map';
@use '../../../style/00_settings/color' as colors;
@use '../../../style/00_settings/util' as utils;
@use '../../../style/01_tools/mixin' as mixins;

.tabs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: utils.bu(1);

  $block: &;

  @include mixins.breakpoint(lg) {
    gap: utils.bu(0.5);
    height: 34px;
    flex-wrap: nowrap;
  }

  &__tab {
    height: 100%;
    cursor: pointer;
    text-transform: uppercase;

    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: utils.bu(1) utils.bu(2);
      height: 100%;
      width: 100%;
      border: 1px solid map.get(colors.$base-color, black);

      &:hover {
        background-color: map.get(colors.$base-color, primary);
      }
    }

    &--active {
      > a {
        background-color: map.get(colors.$base-color, primary);
      }
    }
  }

  &--hollow {
    #{$block}__tab {
      > a {
        border: 1px solid rgba(map.get(colors.$base-color, white), 0.2);
        color: map.get(colors.$base-color, white);

        &:hover {
          color: map.get(colors.$base-color, black);
          border-color: map-get(colors.$base-color, black);
          background-color: map-get(colors.$base-color, secondary);
        }
      }

      &--active {
        > a {
          color: map.get(colors.$base-color, black);
          border-color: map-get(colors.$base-color, primary);
        }
      }
    }
  }
}
