@use 'style/app';

.layout {
  background: linear-gradient(0deg, rgb(0 0 0 / 40%), rgb(0 0 0 / 40%)),
    linear-gradient(
      180deg,
      rgb(0 0 0 / 0%) 0%,
      rgb(0 0 0 / 48%) 77.44%,
      rgb(0 0 0 / 60%) 100%
    ),
    url('/images/background.jpeg');
  background-size: cover;
}

#embed-iframe {
  position: absolute;
  width: 500px;
  height: 125px;
  bottom: 0;
  right: 20px;
  z-index: 0;

  > #playback {
    width: 100%;
    height: calc(100% - 45px);
  }
}
