@use 'sass:map';
@use '../../style/00_settings/color' as colors;
@use '../../style/00_settings/util' as utils;
@use '../../style/01_tools/mixin' as mixins;

.carousel {
  background-color: map.get(colors.$base-color, black);
  padding: utils.bu(15) 0;

  .ticker {
    border: none;
  }

  svg {
    margin-left: utils.rem(10);
    margin-right: utils.rem(10);
    height: 597px;
  }
}
