@use 'sass:map';
@use '../../../style/00_settings/color' as colors;
@use '../../../style/00_settings/util' as utils;
@use '../../../style/01_tools/mixin' as mixins;

.hero {
  position: relative;
  height: 100%;
  min-height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: 550px;
  padding: 0 utils.bu(3) utils.bu(2);

  canvas {
    height: 400px;
    width: 366px;

    @include mixins.breakpoint(lg) {
      height: 100vh;
      width: 100vw;
    }
  }

  @include mixins.breakpoint(md) {
    justify-content: space-between;
    flex-direction: row;
    padding: 10% utils.bu(7.5) 0;
    background-size: unset;
    align-items: flex-start;
  }

  @include mixins.breakpoint(lg) {
    padding-top: 0;
    align-items: center;
  }

  > span {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    gap: utils.bu(1.5);
    color: map.get(colors.$base-color, white);
    margin-top: utils.bu(1);

    @include mixins.breakpoint(md) {
      margin-top: 0;
      text-align: left;
    }

    &:first-of-type {
      margin-top: utils.bu(18);

      @include mixins.breakpoint(md) {
        margin-top: 0;
      }
    }

    &:nth-of-type(2n) {
      display: block;

      @include mixins.breakpoint(md) {
        display: none;
      }
    }

    &:last-of-type {
      display: none;

      @include mixins.breakpoint(md) {
        display: block;
        max-width: 215px;
        text-align: right;
      }
    }

    > svg {
      width: 24px;
      height: 24px;
    }
  }
}
