@use 'sass:map';
@use '../../../style/00_settings/color' as colors;
@use '../../../style/00_settings/util' as utils;
@use '../../../style/01_tools/mixin' as mixins;

.hero {
  position: relative;
  height: 100%;
  min-height: calc(100vh - 40px);
  background: url('/images/hero-rotation.gif') no-repeat center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: 550px;
  padding: 0 utils.bu(3) utils.bu(2);

  @include mixins.breakpoint(md) {
    justify-content: space-between;
    flex-direction: row;
    padding: 0 utils.bu(7.5);
    padding-top: 10%;
    background-size: unset;
    align-items: flex-start;
  }

  @include mixins.breakpoint(lg) {
    padding-top: 0;
    align-items: center;
  }

  > span {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    gap: utils.bu(1.5);
    color: map.get(colors.$base-color, white);
    margin-top: utils.bu(1);

    @include mixins.breakpoint(md) {
      margin-top: 0;
      text-align: left;
    }

    &:first-of-type {
      margin-top: utils.bu(18);

      @include mixins.breakpoint(md) {
        margin-top: 0;
      }
    }

    &:last-of-type {
      @include mixins.breakpoint(md) {
        max-width: 215px;
        text-align: right;
      }
    }

    > svg {
      width: 24px;
      height: 24px;
    }
  }
}
