@use 'sass:map';
@use '../../../style/00_settings/color' as colors;
@use '../../../style/00_settings/util' as utils;
@use '../../../style/01_tools/mixin' as mixins;

.hero {
  position: relative;
  height: 100%;
  min-height: 100vh;
  padding: 0 utils.bu(3);
  display: flex;
  align-items: center;
  flex-direction: column;

  @include mixins.breakpoint(lg) {
    justify-content: space-between;
    flex-direction: row;
    padding: 0 utils.bu(7.5);
    background-size: contain;
  }

  > div > svg {
    position: absolute;
    left: 0;
    top: 0;
  }

  > span {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: utils.bu(1.5);
    color: map.get(colors.$base-color, white);
    margin-top: utils.bu(1);
    font-size: utils.rem(14);
    line-height: utils.rem(19.2);

    @include mixins.breakpoint(lg) {
      position: absolute;
      top: 50%;
      margin: 0;
    }

    &:first-of-type {
      margin-top: utils.bu(20.5);

      @include mixins.breakpoint(lg) {
        left: 60px;
        margin: 0;
      }
    }

    &:last-of-type {
      @include mixins.breakpoint(lg) {
        right: 60px;
        max-width: 162px;
        text-align: right;
      }
    }

    > svg {
      width: 24px;
      height: 24px;
    }
  }
}
