@use 'sass:map';
@use '../../style/00_settings/color' as colors;
@use '../../style/00_settings/util' as utils;
@use '../../style/01_tools/mixin' as mixins;

.button {
  background-color: map.get(colors.$base-color, primary);
  color: map.get(colors.$base-color, black);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: utils.bu(1);
  text-transform: uppercase;

  @include mixins.breakpoint(md) {
    width: 231px;
  }

  &:hover {
    background-color: map.get(colors.$base-color, secondary);
  }

  &--small {
    width: 154px;
    height: 44px;
  }

  > svg {
    width: 20px;
    height: 20px;
  }
}
