@use 'sass:map';
@use '../../../style/00_settings/color' as colors;
@use '../../../style/00_settings/util' as utils;
@use '../../../style/01_tools/mixin' as mixins;

.carousel {
  background-color: map.get(colors.$base-color, black);
  padding: utils.bu(10) 0;
  display: flex;

  @include mixins.breakpoint(lg) {
    padding: utils.bu(13) 0;
  }

  img {
    margin-left: utils.rem(5);
    margin-right: utils.rem(5);
    height: 329px !important;
    object-fit: cover;
    pointer-events: none;

    &.portrait {
      max-width: 220px !important;
    }

    &.landscape {
      max-width: 396px !important;
    }

    @include mixins.breakpoint(lg) {
      margin-left: utils.rem(10);
      margin-right: utils.rem(10);
      height: 597px !important;

      &.portrait {
        object-fit: scale-down;
        max-width: 604px !important;
      }

      &.landscape {
        max-width: 906px !important;
      }
    }
  }

  > div:last-of-type {
    display: flex;
    position: relative;
    // Moves 50 items to the left so that it's draggable to the left.
    left: calc(-230px * 50);

    @include mixins.breakpoint(lg) {
      left: calc(-423px * 50);
    }
  }
}

.drag-item {
  @include mixins.breakpoint(lg) {
    position: fixed;
    width: 77px;
    height: 26px;
    border-radius: 16px;
    background-color: map-get(colors.$base-color, secondary);
    border: 1px solid rgba(map-get(colors.$base-color, grey), 0.4);
    z-index: 10000;
    margin: utils.bu(2);
    padding: utils.bu(1);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

    &--hover {
      visibility: visible;
    }
  }
}
