@use 'sass:map';
@use '../../../../style/00_settings/color' as colors;
@use '../../../../style/00_settings/util' as utils;
@use '../../../../style/01_tools/mixin' as mixins;

$border: 1px solid rgba(map.get(colors.$base-color, white), 0.4);

.event {
  width: 45%;
  padding: utils.bu(3) 0;
  border-bottom: $border;
  position: relative;

  > main {
    margin: utils.bu(5) 0;
    color: map.get(colors.$base-color, white);
    text-transform: uppercase;
    width: 100%;

    > p {
      width: 100%;

      @include mixins.breakpoint(lg) {
        width: 613px;
      }
    }

    > div {
      display: flex;
      flex-direction: column;

      @include mixins.breakpoint(lg) {
        flex-direction: row;
      }

      > iframe {
        max-width: 1000px;

        @include mixins.breakpoint(lg) {
          border-radius: 8px;
        }
      }

      > .button {
        margin-top: utils.bu(5);
        width: 100%;

        @include mixins.breakpoint(lg) {
          width: 154px;
          margin: auto 0 utils.bu(2.5) auto;
        }
      }
    }
  }

  > header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    > svg {
      cursor: pointer;
      color: map.get(colors.$base-color, white);

      &:hover {
        color: map.get(colors.$base-color, black);
        fill: map.get(colors.$base-color, primary);
      }
    }

    > div {
      > h2 {
        text-transform: uppercase;
        color: map.get(colors.$base-color, primary);
      }

      > h3 {
        color: map.get(colors.$base-color, white);
        text-transform: uppercase;
      }

      > p {
        color: map.get(colors.$base-color, silver);
        text-transform: uppercase;
        margin-top: utils.bu(1);
      }
    }
  }

  > footer {
    margin-top: utils.bu(5);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mixins.breakpoint(lg) {
      margin-top: utils.bu(10);
    }

    > div {
      display: flex;
      flex-direction: column;

      > small {
        color: map.get(colors.$base-color, white);
        text-transform: uppercase;

        &:first-child {
          color: map.get(colors.$base-color, silver);
          margin-bottom: utils.bu(0.5);

          @include mixins.breakpoint(lg) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &--filled {
    width: 100%;
  }

  &--expanded {
    > footer {
      margin-top: 0;
    }
  }
}
