@use 'sass:map';
@use '../../style/00_settings/color' as colors;
@use '../../style/00_settings/util' as utils;
@use '../../style/01_tools/mixin' as mixins;

.playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: map.get(colors.$base-color, white);
  padding: utils.rem(121) utils.rem(30);

  > header {
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(#fff, 0.2);
    padding: utils.bu(2) utils.bu(2);
    margin-bottom: utils.bu(5.5);

    > p {
      display: flex;
      align-items: center;
      gap: utils.bu(2);
    }
  }

  &__tracks {
    width: 100%;
  }
}
