@use 'sass:map';
@use '../../style/00_settings/color' as colors;
@use '../../style/00_settings/util' as utils;
@use '../../style/01_tools/mixin' as mixins;

.playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: map.get(colors.$base-color, white);
  padding: 0 utils.bu(2) utils.bu(10);

  @include mixins.breakpoint(md) {
    padding: 0 utils.rem(30) utils.rem(104);
  }

  @include mixins.breakpoint(lg) {
    padding: 0 utils.rem(30) utils.rem(121);
  }

  > header {
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(#fff, 0.2);
    padding: utils.bu(2) utils.bu(2);
    margin-bottom: utils.bu(5.5);

    > p {
      display: flex;
      align-items: center;
      gap: utils.bu(2);
    }
  }

  &__tracks {
    width: 100%;

    > iframe {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      @include mixins.breakpoint(lg) {
        width: 75%;
        max-width: 1106px;
      }
    }
  }

  > footer {
    margin-top: utils.bu(5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include mixins.breakpoint(md) {
      margin-top: utils.bu(7.5);
    }

    > a {
      background-color: map.get(colors.$base-color, primary);
      color: map.get(colors.$base-color, black);
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: utils.bu(1);
      text-transform: uppercase;

      @include mixins.breakpoint(md) {
        width: 231px;
      }

      &:hover {
        background-color: map.get(colors.$base-color, secondary);
      }
    }
  }
}
