@use 'sass:map';
@use '../../../../style/00_settings/color' as colors;
@use '../../../../style/00_settings/util' as utils;
@use '../../../../style/01_tools/mixin' as mixins;

.artists {
  padding: utils.bu(15) utils.bu(7.5);
  background-color: map.get(colors.$base-color, black);
  display: flex;

  &__list {
    height: fit-content;
    width: 64%;
    border: 1px solid rgba(map.get(colors.$base-color, white), 0.3);
  }

  &__details {
    position: relative;
    width: 36%;
    border: 1px solid rgba(map.get(colors.$base-color, white), 0.3);
    padding: utils.rem(30);

    > h1 {
      text-transform: uppercase;
      color: map.get(colors.$base-color, white);
    }

    > p {
      text-transform: uppercase;
      margin-top: utils.bu(1.5);
      color: map.get(colors.$base-color, silver);
    }

    &-image {
      position: relative;
      height: 100%;
      max-height: 336px;
      width: 100%;
      margin-top: utils.bu(7.5);

      > img {
        position: relative !important;
      }
    }
  }

  &__tags {
    margin-top: utils.bu(3);
    margin-bottom: utils.bu(8);
    display: flex;
    align-items: center;
    gap: utils.bu(1);
  }

  &__artist {
    cursor: pointer;
    padding: utils.bu(1.5) utils.bu(2.5) utils.bu(1.5) utils.bu(1);
    color: map.get(colors.$base-color, white);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(map.get(colors.$base-color, white), 0.3);

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: map.get(colors.$base-color, secondary);
      color: map.get(colors.$base-color, black);
    }

    > div {
      display: flex;
      align-items: center;
      gap: utils.bu(3.5);
    }

    &--active {
      background-color: map.get(colors.$base-color, primary);
      color: map.get(colors.$base-color, black);
    }
  }
}

.tag {
  background-color: map.get(colors.$base-color, secondary);
  border-radius: 16px;
  padding: utils.rem(2) utils.bu(1);
  text-transform: uppercase;
}
