@use 'sass:map';
@use '../../../../style/00_settings/color' as colors;
@use '../../../../style/00_settings/util' as utils;
@use '../../../../style/01_tools/mixin' as mixins;

.artists-hero {
  padding-top: utils.bu(18.5);
  padding-bottom: utils.bu(7.5);
  background-color: map.get(colors.$base-color, black);
  border-bottom: 1px solid rgba(map.get(colors.$base-color, grey), 0.4);
  margin-right: utils.bu(2);
  margin-left: utils.bu(2);
  display: flex;

  @include mixins.breakpoint(md) {
    margin-right: utils.bu(4);
    margin-left: utils.bu(4);
  }

  @include mixins.breakpoint(lg) {
    padding-top: utils.bu(21.5);
    padding-bottom: utils.bu(15);
    margin-right: utils.bu(7.5);
    margin-left: utils.bu(7.5);
  }

  > h1 {
    text-transform: uppercase;
    display: flex;
    font-weight: 500;
    max-width: 210px;
    color: map.get(colors.$base-color, white);

    @include mixins.breakpoint(lg) {
      max-width: 100%;
    }

    > span {
      margin-left: utils.bu(3);
      border: 1px solid map.get(colors.$base-color, black);
      height: 35px;
      min-height: 35px;
      width: 38px;
      min-width: 38px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mixins.breakpoint(lg) {
        height: 48px;
        min-height: 48px;
        width: 61px;
        min-width: 61px;
      }
    }
  }
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(map.get(colors.$base-color, grey), 0.4);
  margin-left: utils.bu(3);

  @include mixins.breakpoint(lg) {
    height: 48px;
    width: 48px;
  }

  > span {
    color: map.get(colors.$base-color, white);
  }
}
