@use 'sass:map';
@use '../../../style/00_settings/color' as colors;
@use '../../../style/00_settings/util' as utils;
@use '../../../style/01_tools/mixin' as mixins;

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: map.get(colors.$base-color, white);
  text-transform: uppercase;
  padding: 0 utils.bu(2.5) utils.bu(12.5);

  @include mixins.breakpoint(lg) {
    padding: utils.bu(20) 0 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center !important;
    text-align: center;
    flex-direction: column;
    width: 100%;
    gap: utils.bu(7.5);

    @include mixins.breakpoint(lg) {
      width: 1126px;
    }

    > p {
      color: map.get(colors.$base-color, white);
      text-transform: uppercase;
    }
  }

  > footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: map.get(colors.$base-color, white);
    margin-top: utils.bu(15);
    text-transform: uppercase;

    > svg {
      width: 100%;
      max-width: 100%;
      height: 40px;
    }

    @include mixins.breakpoint(lg) {
      margin-top: utils.bu(20);
      padding: 0 0 utils.bu(11);

      > svg {
        max-width: 548px;
        height: 56px;
      }
    }
  }
}
