@use 'sass:map';
@use '../../../style/00_settings/color' as colors;
@use '../../../style/00_settings/util' as utils;
@use '../../../style/01_tools/mixin' as mixins;

.acts {
  background-color: map.get(colors.$base-color, black);
  padding: utils.bu(10) 0;

  @include mixins.breakpoint(lg) {
    padding: utils.bu(15) 0;
  }

  > header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: utils.bu(8);
    padding: 0 utils.bu(2);

    @include mixins.breakpoint(lg) {
      justify-content: space-between;
      align-items: flex-start;
      padding-left: utils.bu(7.5);
      padding-right: utils.bu(7.5);
    }

    > a {
      display: none;

      @include mixins.breakpoint(lg) {
        display: flex;
      }
    }

    > div {
      display: flex;
      flex-direction: column;

      @include mixins.breakpoint(lg) {
        flex-direction: row;
      }

      > p {
        color: map.get(colors.$base-color, white);
        text-transform: uppercase;
        text-align: center;
        margin-top: utils.bu(1);
        font-size: utils.rem(18);
        line-height: utils.rem(21);

        @include mixins.breakpoint(lg) {
          margin-top: 0;
          padding: 0 utils.bu(3);
          border-right: 1px solid rgba(map.get(colors.$base-color, white), 0.4);
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border: none;
        }

        > span {
          font-weight: 700;
          color: map.get(colors.$base-color, secondary);
        }
      }
    }
  }

  > main {
    display: flex;
    flex-direction: column;
    gap: utils.bu(1);
  }

  > footer {
    width: 100%;
    margin-top: utils.bu(8);

    @include mixins.breakpoint(lg) {
      display: none;
    }

    > .button {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
