@use 'sass:map';
@use '../../../style/00_settings/color' as colors;
@use '../../../style/00_settings/util' as utils;
@use '../../../style/01_tools/mixin' as mixins;

.button {
  background-color: map.get(colors.$base-color, primary);
  color: map.get(colors.$base-color, black);
  width: fit-content;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: utils.bu(1);
  text-transform: uppercase;
  position: relative;
  padding: 0 utils.rem(18);

  > div {
    display: flex;
    align-items: center;
    gap: utils.bu(1);
  }

  .button-bg {
    left: 0;
    position: absolute;
    width: 100%;
    background-color: map.get(colors.$base-color, secondary);
  }

  @include mixins.breakpoint(md) {
    padding: 0 utils.bu(2.5);
  }

  &:hover {
    > div {
      color: map.get(colors.$base-color, black);
    }

    > .button-bg {
      border-color: map.get(colors.$base-color, black);
      background-color: map.get(colors.$base-color, secondary);
    }
  }

  &--small {
    height: 36px;

    @include mixins.breakpoint(lg) {
      height: 44px;
    }
  }

  &--medium {
    height: 40px;

    @include mixins.breakpoint(sm) {
      height: 48px;
    }
  }

  &--large {
    height: 36px;

    @include mixins.breakpoint(lg) {
      height: 44px;
    }
  }

  &--hollow {
    background-color: map.get(colors.$base-color, transparent);
    color: map.get(colors.$base-color, primary);
    border: 1px solid map.get(colors.$base-color, primary);

    &:hover {
      border-color: map.get(colors.$base-color, secondary);

      > div {
        color: map.get(colors.$base-color, black);
      }

      > .button-bg {
        border-color: map.get(colors.$base-color, secondary);
        background-color: map.get(colors.$base-color, transparent);
      }
    }
  }

  &--inverted {
    background-color: map.get(colors.$base-color, transparent);
    color: map.get(colors.$base-color, black);
    border: 1px solid map.get(colors.$base-color, black);

    &:hover {
      border-color: map.get(colors.$base-color, primary);

      > div {
        color: map.get(colors.$base-color, black);
      }

      > .button-bg {
        border-color: map.get(colors.$base-color, primary);
        background-color: map.get(colors.$base-color, primary);
      }
    }
  }

  &--light {
    background-color: map-get(colors.$base-color, transparent);
    border: 1px solid map-get(colors.$base-color, grey);
    color: map-get(colors.$base-color, grey);

    &:hover {
      border-color: map.get(colors.$base-color, black);

      > div {
        color: map.get(colors.$base-color, black);
      }

      > .button-bg {
        border-color: map.get(colors.$base-color, black);
        background-color: map.get(colors.$base-color, secondary);
      }
    }
  }

  > svg {
    max-width: 24px;
    max-height: 24px;
  }
}
