@use 'sass:map';
@use '../../../style/00_settings/color' as colors;
@use '../../../style/00_settings/util' as utils;
@use '../../../style/01_tools/mixin' as mixins;

.button {
  background-color: map.get(colors.$base-color, primary);
  color: map.get(colors.$base-color, black);
  width: fit-content;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: utils.bu(1);
  text-transform: uppercase;
  padding: 0 utils.rem(18);

  @include mixins.breakpoint(md) {
    padding: 0 utils.bu(2.5);
  }

  &:hover {
    background-color: map.get(colors.$base-color, secondary);
  }

  &--small {
    height: 36px;

    @include mixins.breakpoint(lg) {
      height: 44px;
    }
  }

  &--medium {
    height: 48px;
  }

  &--large {
    height: 36px;

    @include mixins.breakpoint(lg) {
      height: 44px;
    }
  }

  &--hollow {
    background-color: map.get(colors.$base-color, transparent);
    color: map.get(colors.$base-color, primary);
    border: 1px solid map.get(colors.$base-color, primary);

    &:hover {
      border-color: map.get(colors.$base-color, secondary);
      color: map.get(colors.$base-color, black);
    }
  }

  &--inverted {
    background-color: map.get(colors.$base-color, transparent);
    color: map.get(colors.$base-color, black);
    border: 1px solid map.get(colors.$base-color, black);

    &:hover {
      background-color: map.get(colors.$base-color, primary);
      border-color: map.get(colors.$base-color, primary);
      color: map.get(colors.$base-color, black);
    }
  }

  &--light {
    background-color: map-get(colors.$base-color, transparent);
    border: 1px solid map-get(colors.$base-color, grey);
    color: map-get(colors.$base-color, grey);

    &:hover {
      background-color: map.get(colors.$base-color, secondary);
      border-color: map.get(colors.$base-color, black);
      color: map.get(colors.$base-color, black);
    }
  }

  > svg {
    max-width: 24px;
    max-height: 24px;
  }
}
