@use 'sass:map';
@use '../../style/00_settings/color' as colors;
@use '../../style/00_settings/util' as utils;
@use '../../style/01_tools/mixin' as mixins;

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url('/images/banner.jpeg');
  background-size: cover;
  background-position-y: -500px;
  text-align: center;
  padding: utils.bu(10) utils.bu(2) utils.bu(7.5);
  height: 100vh;

  > div {
    background: url('/images/banner_artwork.png') no-repeat;
    background-size: contain;
    height: 525px;
    display: flex;
    align-items: center;
    justify-content: center;

    > h1 {
      text-transform: uppercase;
      color: map.get(colors.$base-color, white);
    }
  }
}
