@use 'sass:map';
@use '../../style/00_settings/color' as colors;
@use '../../style/00_settings/util' as utils;
@use '../../style/01_tools/mixin' as mixins;
@use '../../style/03_elements/typography' as typography;

.footer {
  width: 100%;
  padding: utils.bu(2.5) utils.bu(3) utils.bu(2.5) utils.bu(2);
  background-color: map.get(colors.$base-color, primary);
  color: map.get(colors.$base-color, black);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > a {
    position: relative;
    z-index: 1;
  }

  svg {
    cursor: pointer;
    @include mixins.svg-hover;
  }
}
