@use 'sass:map';
@use '../../../style/00_settings/util' as utils;
@use '../../../style/00_settings/color' as colors;
@use '../../../style/01_tools/mixin' as mixins;

.social {
  aspect-ratio: 375 / 1138;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    > p {
      text-align: center;
      margin-bottom: utils.bu(2);
      color: map-get(colors.$base-color, white);
    }

    > div {
      height: 67px;
      width: 266px;
      border: 1px solid rgba(map-get(colors.$base-color, grey), 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;

      > a {
        color: map-get(colors.$base-color, white);
      }

      > span {
        position: absolute;
        background-color: map-get(colors.$base-color, grey);

        &:first-of-type {
          top: 0;
          left: 0;
          height: 1px;
        }

        &:nth-of-type(2) {
          top: 0;
          right: 0;
          width: 1px;
        }

        &:nth-of-type(3) {
          bottom: 0;
          right: 0;
          height: 1px;
        }

        &:last-of-type {
          bottom: 0;
          left: 0;
          width: 1px;
        }
      }
    }
  }

  @include mixins.breakpoint(sm) {
    aspect-ratio: 834 / 1439;

    > div > div {
      height: 83px;
      width: 468px;
    }
  }

  @include mixins.breakpoint(md) {
    aspect-ratio: 1728 / 1573;
  }
}
